rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /room/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /room/{parent}/players/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/players/{document} {
      allow read: if true;
    }


    match /room/{parent}/words/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/words/{document} {
      allow read: if true;
    }

  }
}
